<div class="bids-n-buys-board_97-189">
    <app-desktop-nav-for-user
      class="desktop-nav-for-user_97-190"
    ></app-desktop-nav-for-user>
    <app-footer-desktop class="footer-desktop_97-191"></app-footer-desktop>
    <div class="frame-567_97-192">
      <div class="frame-576_97-193">
        <app-frame-571></app-frame-571>
        <app-frame-571></app-frame-571>
        <app-frame-571></app-frame-571>
        <app-frame-571></app-frame-571>
      </div>
      <div class="frame-578_97-198">
        <span class="text-unsubscribe-all_97-199">Unsubscribe All</span>
        <app-toggle-all
          [property1]="'Default'"
          class="toggle-all_97-200"
        ></app-toggle-all>
      </div>
    </div>
    <div class="frame-579_97-201">
      <span class="text-email-subscription_97-202">Email Subscription</span>
      <span
        class="text-lorem-ipsum-dolor-sit-amet-consectetur--dictum-arcu-pulvinar-sollicitudin-in-praesent-donec-lectus-aliquam-mauris--malesuada-pharetra-et-ut-ac-id-leo-velit--adipiscing-sed-porta-nisi-vitae-sit-faucibus-sed--aliquet-ut-maecenas-habitasse-vitae-mattis-_97-203"
        >Lorem ipsum dolor sit amet consectetur. Dictum arcu pulvinar sollicitudin
        in praesent donec lectus aliquam mauris. Malesuada pharetra et ut ac id
        leo velit. Adipiscing sed porta nisi vitae sit faucibus sed. Aliquet ut
        maecenas habitasse vitae mattis.</span
      >
    </div>
  </div>
  