.bids-n-buys-board_97-189 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #f0ede4;
    width: 1440px;
    height: 1123px;
  }
  .desktop-nav-for-user_97-190 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    width: 1440px;
  }
  
  .footer-desktop_97-191 {
    top: 798px;
    left: 0px;
    position: absolute;
    display: flex;
    width: 1440px;
    height: 325px;
  }
  
  .frame-567_97-192 {
    top: 248px;
    left: 120px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    background: #f0ede4;
    width: 1200px;
    height: 510px;
    box-shadow: 0px 0px 8px 2px #0000003f;
  }
  .frame-576_97-193 {
    top: 106px;
    left: 71px;
    position: absolute;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 90px;
    box-sizing: border-box;
    width: 1058px;
  }
  
  .frame-578_97-198 {
    top: 60px;
    left: 932px;
    position: absolute;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 18px;
    box-sizing: border-box;
  }
  .text-unsubscribe-all_97-199 {
    color: #000000;
    font-size: 16px;
    font-family: Poppins;
    line-height: 100%;
    letter-spacing: 1%;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    text-wrap: nowrap;
  }
  
  .toggle-all_97-200 {
    width: 50px;
  }
  
  .frame-579_97-201 {
    top: 132px;
    left: 120px;
    position: absolute;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 12px;
    box-sizing: border-box;
    width: 1200px;
  }
  .text-email-subscription_97-202 {
    color: #000000;
    font-size: 40px;
    font-family: Montserrat;
    line-height: 100%;
    letter-spacing: 1%;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    text-wrap: wrap;
    width: -webkit-fill-available;
  }
  
  .text-lorem-ipsum-dolor-sit-amet-consectetur--dictum-arcu-pulvinar-sollicitudin-in-praesent-donec-lectus-aliquam-mauris--malesuada-pharetra-et-ut-ac-id-leo-velit--adipiscing-sed-porta-nisi-vitae-sit-faucibus-sed--aliquet-ut-maecenas-habitasse-vitae-mattis-_97-203 {
    color: #000000;
    font-size: 16px;
    font-family: Poppins;
    line-height: 100%;
    letter-spacing: 1%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    height: 40px;
    width: -webkit-fill-available;
  }
  