.desktop-nav-for-user_86-52 {
    padding: 15px 120px 15px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 88px;
    box-sizing: border-box;
    background: #f4edfb;
    box-shadow: 0px 2px 4px 0px #0000003f;
  }
  .logo_86-53 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
  }
  .sls-1701543758041bb-logo-1_86-54 {
    display: flex;
  }
  
  .text-bids-n-buys_86-55 {
    color: #2f2f2f;
    font-size: 26px;
    font-family: Raleway;
    line-height: 100%;
    letter-spacing: 1%;
    text-decoration: none;
    font-weight: 800;
    text-align: left;
    text-wrap: nowrap;
  }
  
  .frame-64_86-56 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 60px;
    box-sizing: border-box;
  }
  
  .user-account-and-tab_86-61 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 47px;
    box-sizing: border-box;
  }
  .frame-63_86-62 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 30px;
    box-sizing: border-box;
  }
  .pepicons-pencil-cart_86-63 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .group_86-64 {
    top: 3px;
    left: 4px;
    position: absolute;
    display: flex;
    width: 29px;
    height: 32px;
  }
  .vector_86-65 {
    display: flex;
  }
  
  .vector_86-66 {
    display: flex;
  }
  
  .vector_86-67 {
    display: flex;
  }
  
  .ellipse-13_86-68 {
    top: 3px;
    left: 27px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .user-tab_86-69 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
  }
  .text-hello--user_86-70 {
    color: #8242bf;
    font-size: 20px;
    font-family: Poppins;
    line-height: 100%;
    letter-spacing: 1%;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    text-wrap: nowrap;
  }
  
  .basil-user-outline_86-71 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_86-72 {
    top: 6px;
    left: 7px;
    position: absolute;
    display: flex;
    display: flex;
  }
  